@import '../__builtins__/styles/common.less';
@import './item.less';

@entry-prefix-cls: ~'@{van-portal-prefix}-entry';

.@{entry-prefix-cls}-wrap{

  .@{entry-prefix-cls}{
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
  }

  // columns
  .@{entry-prefix-cls}--rows-1 {
    justify-content: space-between;
  }

  // rows
  &--scrollable {
    overflow: hidden;

    .@{entry-prefix-cls}{
      flex-wrap: nowrap;
      height: 100%;
      overflow-y: hidden;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;

      &::-webkit-scrollbar {
        display: none;
      }

      &__item{
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }
    }
  }
}
