@import '../__builtins__/styles/common.less';
@import './item.less';

@entry-prefix-cls: ~'@{lj-portal-prefix}-entry';

.@{entry-prefix-cls}{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
    // columns
    &--mulit-lines {
      justify-content: flex-start;
    }

    // rows
    &--scrollable {
      overflow: hidden;
    }

    &--scrollable &__row-wrap{
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
      overflow-y: hidden;
      overflow-x: auto;
    }

    &--scrollable &__cols{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
}
