@van-portal-prefix: ~'van-portal';
@import 'vant/lib/style/var';
@import './text-overflow.less';

@theme-primary: #046bde;
@theme-primary-light: lighten(desaturate(@theme-primary, 20%), 35%);
@theme-primary-lighter: lighten(
  @theme-primary,
  96% - lightness(@theme-primary)
);
@theme-primary-dark: darken(desaturate(@theme-primary, 20%), 10%);
@theme-primary-darker: darken(@theme-primary, lightness(@theme-primary) - 20%);

// 变量主题色
@var-primary: var(--theme-primary, @theme-primary);
@var-primary-light: var(--theme-primary-light, @theme-primary-light);
@var-primary-lighter: var(--theme-primary-lighter, @theme-primary-lighter);
@var-primary-dark: var(--theme-primary-dark, @theme-primary-dark);
@var-primary-darker: var(--theme-primary-darker, @theme-primary-darker);
